
# General things to ignore
## files being edited
*.swp
.~

# Ignore some build directory patterns
build/
release/
debug/

# C++ gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
#*.mod
#*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sublime Text files
*.sublime-project
*.sublime-workspace

# Mac Files
*.DS_Store

# Files from setuptools and python
.eggs/
gamer.egg-info/
dist/
_skbuild/
*/__pycache__/
MANIFEST
pygamer/__init__.py

*.whl
*.egg-info

# Dont save generated/linked documentation files
docs/src/_doxyoutput/
docs/src/_cppapi/
docs/src/_pythonapi/
docs/src/tutorials/
docs/src/conf.py
