include VERSION
include COPYING.md
include README.md
include pyproject.toml

# CMake Helpers
graft cmake
include CMakeLists.txt

# C++ sources
graft include
graft src
graft libraries

# PyGAMer sources
graft pygamer

# Unit Tests
graft tests

# Blender addon
graft tools

# Documentation
graft docs
prune docs/src/_cppapi
prune docs/src/_doxyoutput
prune docs/src/_pythonapi
prune docs/src/tutorials
exclude docs/src/conf.py

# Exclusions
global-exclude *.py[co]
