# Required for building
cmake >= 3.10
scikit-build
setuptools
wheel
numpy

# Recommended
ninja
pytest

# For building documentation
sphinx>=3.0
breathe>=4.17.0
exhale
pandoc
sphinx-issues
nbsphinx
jupyter_sphinx
sphinx-rtd-theme
threevis
