# Required for building
cmake >= 3.10
scikit-build >= 0.10.0
setuptools
wheel
numpy

# Recommended
ninja
pytest

# For building documentation
sphinx>=2.0
breathe>=4.13.0
exhale
pandoc
sphinx-issues
nbsphinx
jupyter_sphinx
sphinx-rtd-theme
threevis