# Required for building
cmake 
scikit-build
setuptools
wheel
numpy

# Recommended
pytest

# For building documentation
sphinx
breathe
exhale
pandoc
sphinx-issues
nbsphinx
jupyter_sphinx

# Required to run FEniCS notebooks
# dolfin

# Visualization in docs
threevis
