# Required for building
cmake 
scikit-build
numpy

# Recommended
pytest==6.2.3

# For building documentation
sphinx==4.0.2
docutils==0.16
breathe==4.30.0
exhale==0.2.3
# pandoc
sphinx-issues==1.2.0
nbsphinx==0.8.5
jupyter_sphinx==0.3.1

# Required to run FEniCS notebooks
# dolfin

# Visualization in docs
threevis
